<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uco.termproject.mobiletest2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelHiragana"
            android:label="@string/title_activity_level_one" />
        <activity
            android:name=".LevelHiraganaMultipleGuess"
            android:label="@string/title_activity_level_one_quiz" />
        <activity
            android:name=".HangmanGame"
            android:label="@string/title_activity_hangman_game" >
        </activity>
        <activity
            android:name=".LevelKanji"
            android:label="@string/title_activity_kanji" >
        </activity>
        <activity
            android:name=".LevelKatakana"
            android:label="@string/title_activity_level_katakana" >
        </activity>
        <activity
            android:name=".TransitionHiragana"
            android:label="@string/title_activity_transition_hiragana" >
        </activity>
        <activity
            android:name=".TransitionKatakana"
            android:label="@string/title_activity_transition_katakana" >
        </activity>
        <activity
            android:name=".TransitionKanji"
            android:label="@string/title_activity_transition_kanji" >
        </activity>
        <activity
            android:name=".LevelKatakanaMultipleGuess"
            android:label="@string/title_activity_level_katakana_multiple_guess" >
        </activity>
        <activity
            android:name=".LevelKanjiMultipleGuess"
            android:label="@string/title_activity_level_kanji_multiple_guess" >
        </activity>
        <activity
            android:name=".HiraganaQuiz"
            android:label="@string/title_activity_hiragana_quiz" >
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".KatakanaQuiz"
            android:label="@string/title_activity_katakana_quiz" >
        </activity>
        <activity
            android:name=".VocabActivity"
            android:label="@string/title_activity_vocab" >
        </activity>
        <activity
            android:name=".VocabListSelectionActivity"
            android:label="@string/title_activity_vocab_list_selection" >
        </activity>
        <activity
            android:name=".LevelKanji2"
            android:label="@string/title_activity_level_kanji2" >
        </activity>
        <activity
            android:name=".KanjiQuiz"
            android:label="@string/title_activity_kanji_quiz" >
        </activity>
    </application>

</manifest>
